@media screen and (max-width: 1200px) {

    .nft-equipments__weapons-choose {
        flex-wrap: wrap;
    }

    .concept__flex {
        flex-wrap: wrap-reverse;
    }


}

@media screen and (min-width: 760px) and (max-width: 1199px) {

    .team__item {
        flex-basis: calc(100% / 2);
    }

    .team__item:nth-child(3),
    .team__item:nth-child(4) {
        flex-direction: row-reverse;
    }

    .team__item:nth-child(5),
    .team__item:nth-child(6) {
        flex-direction: row;
    }

}

@media screen and (min-width: 460px) and (max-width: 759px) {

    .about__what-p {
        width: 100%;
        text-align: center;
    }

    .about-container img {
        width: 100%;
    }

    .flex__right-block,
    .right-block__right-title {
        width: 100%;
    }

    .team__item {
        flex-basis: calc(100% / 1);
    }

    .team__item:nth-child(2),
    .team__item:nth-child(4),
    .team__item:nth-child(6) {
        flex-direction: row-reverse;
    }

    .team__item:nth-child(5) {
        flex-direction: row;
    }
}




















@media screen and (min-width: 320px) and (max-width: 459px) {


    .link-link,
    .social,
    .logo__img {
        display: none;
    }

    .navigation {
        margin-left: 5px;
    }


    .button__nav {
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
    }

    .btn__nav-one {
        margin-right: 10px;
        width: 80px;
        height: 45px;
    }


    .btn__nav-two {
        width: 80px;
        height: 44px;
        color: white;
        background-color: #935243;
        border: 1px solid #935243;
        border-radius: 5px;
    }

    .title-container__title {
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 25%;
    }

    .title-container__text {
        font-size: 16px;
        width: 192px;
        margin: 0 auto;
    }

    .button__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 15%;
        padding-bottom: 15%;
    }

    .button__title-one {
        height: 54px;
        margin-bottom: 5%;
        margin-right: 0px;


    }

    .button__title-two {
        height: 54px;
    }


    .tailer__characters {
        font-size: 25px;
        justify-content: center;
    }


    .videoblock {
        max-width: 88%;
        height: 155px;
        border: 3px solid #615e5e;

    }


    .videoblock iframe {
        max-width: 89%;
        height: 150px;
    }

    .trailer__videoblock {
        padding-bottom: 7%;
    }

    .about__what {
        padding-top: 15%;
    }

    .about__what-img {
        width: 90%;
        margin-bottom: 7%;
    }


    .about__what-p {
        font-size: 16px;
        width: 100%;
        margin-right: 0px;
        padding-bottom: 15%;
    }

    .about-container {
        text-align: center;
    }

    .main__nft-box {
        padding-top: 15%;

    }

    .nft__title {
        font-size: 28px;
    }

    .boxes-choose {
        width: 310px;
        height: 329px;
    }

    .nft-box__boxes-choose {
        padding-bottom: 20%;
    }


    .nft-equipments__weapons-choose {
        padding-bottom: 17%;
    }

    .metaverse__p {
        font-size: 16px;
        padding-bottom: 8%;
    }

    .videoblock,
    .metaverse__vr-video {
        max-width: 88%;
        height: 155px;
        border: 3px solid #615e5e;

    }

    #video2 {
        max-width: 97%;
        height: 150px;
        border-radius: 10px;

    }

    .token-flex {
        justify-content: center;
    }

    .content__greyblock {
        width: 240px;
        height: 106px;
        padding: 5%;
    }

    .greyblock__blockright {
        padding-left: 15px;
    }

    .stars-list li {
        font-size: 16px;
        margin-bottom: 8px;
    }




    .token__title {
        font-size: 28px;
        margin-bottom: 0px;
        margin-bottom: 7%;
    }

    .main__team {
        padding-bottom: 20%;
    }

    .team-btn__one {
        width: 278px;
        height: 65px;
    }

    .concept__title {
        font-size: 30px;
    }


    .partners__blocks {
        padding-bottom: 15%;
        margin-top: 15%;
    }


    .team__item {
        flex-basis: calc(100% / 1);
    }




















    .footer__bottom {
        flex-wrap: wrap;
        font-size: 14px;
    }

    .contacts__us {
        padding-right: 15px;
    }

    .contacts__link {
        margin-right: 7px;
    }








}