@media screen and (max-width: 1200px) {

    .nav-container {
        max-width: 992px;
    }

    .nav {
        height: 20vh;
        background-image: url(/assets/img/Page_3/bg.png);

    }

    .title {
        padding-top: 15px;
    }

    .main-container {
        max-width: 992px;
        margin: 0 auto;
    }

    .border {
        height: 35%;
        padding-top: 20px;
        margin-top: 20px;
    }

    .time {
        display: flex;
        margin-top: 15px;
        width: 650px;
    }

    .time-box__item {
        width: 100px;
        height: 76px;
        font-size: 40px;
    }

    .border-img {
        left: 550px;

    }

    .border-img__img {
        max-width: 38vw;

    }


    .colums-container {
        max-width: 992px;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .captain,
    .coloner,
    .general {
        width: 300px;

    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        position: absolute;
        top: -40px;
        left: 33%;

    }

    .box-text {
        width: 273px;
        font-family: 'Jost', sans-serif;
        font-size: 14px;
        margin: 0 auto;

    }

    .footer-container {
        max-width: 992px;
        margin: 0 auto;
    }

}



@media screen and (max-width: 992px) {
    .nav-container {
        max-width: 768px;
    }

    .logo {
        display: none;
    }

    .btn__nav-one {
        margin-right: 20px;
        width: 10vw;
        height: 9vh;
        font-size: 12px;
    }


    .btn__nav-two {
        width: 10vw;
        height: 9vh;
        font-size: 12px;
    }

    .nav {
        height: 20vh;
        background-image: url(/assets/img/Page_3/bg.png);
    }

    .title {
        padding-top: 15px;
    }

    .main-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .border {
        height: 35%;
        padding-top: 20px;
        margin-top: 20px;
    }

    .time {
        display: flex;
        margin-top: 15px;
        width: 450px;
    }

    .time-box__item {
        width: 90px;
        height: 50px;
        font-size: 30px;
        padding-top: 17%;
    }

    .border-img {
        width: 40%;
        position: absolute;
        left: 400px;
        bottom: -5px;
    }


    .colums-container {
        max-width: 768px;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .captain,
    .coloner,
    .general {
        width: 230px;

    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        position: absolute;
        top: -40px;
        left: 65px;

    }

    .box-text {
        width: 200px;
        font-family: 'Jost', sans-serif;
        font-size: 12px;
        margin: 0 auto;

    }


    .captain__one {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }

    .captain__two {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }

    .captain {
        height: 480px;
    }

    .coloner {
        height: 1060px;
    }

    .general {
        height: 1360px;
    }

    .footer-container {
        max-width: 768px;
        margin: 0 auto;
    }
}




@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .navigation {
        justify-content: space-around;
        width: 240px;

    }

    .navigation__link {
        font-size: 16px;
        padding-right: 0px;
    }

    .button__nav {
        margin-right: 10px;
    }


    .title {
        padding-top: 0px;
    }

    .main-container {
        max-width: 650px;
        margin: 0 auto;
    }

    .border {
        height: 35%;
        padding-top: 0px;
        margin-top: 0px;
    }

    .time {
        display: flex;
        margin-top: 15px;
        width: 350px;
    }

    .time-box__item {
        width: 70px;
        height: 40px;
        font-size: 30px;
        padding-top: 17%;
    }

    .time-box__text {
        font-size: 14px;
        margin: 0px;
        margin-left: 13px;
    }

    .border-img {
        width: 40%;
        left: 375px;
        bottom: -5px;
    }


    .colums-container {
        max-width: 670px;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .captain,
    .coloner,
    .general {
        width: 210px;

    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        position: absolute;
        top: -40px;
        left: 55px;

    }

    .captain__title,
    .coloner__title,
    .general__title {
        font-size: 25px;
        font-weight: 700;
    }

    .captain__text,
    .coloner__text,
    .general__text {
        font-size: 14px;
    }


    .copyright__p {
        margin-left: 15px;
        font-size: 16px;
    }

    .contacts__us {
        font-size: 16px;
    }

    .contacts__link {
        margin-right: 10px;

    }
}

@media screen and (max-width: 673px) {
    .btn__nav-one {
        margin-right: 10px;
    }


    .border {
        justify-content: center;
    }


    .border-img {
        display: none;
    }


    .colums-container {
        max-width: 60%;
    }

    .colums {
        flex-wrap: wrap;
    }

    .captain,
    .coloner,
    .general {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 15%;

    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        position: absolute;
        top: -40px;
        left: 85px;

    }

    .general {
        height: 228vh;
    }

    .copyright__p {
        margin-left: 15px;
        font-size: 16px;
    }

    .contacts__us {
        font-size: 16px;
    }

    .contacts__link {
        margin-right: 10px;

    }
}




@media screen and (max-width: 480px) {

    .navigation {
        justify-content: space-around;
        width: 240px;

    }

    .navigation__link {
        font-size: 14px;
        padding-right: 0px;
    }

    .social {
        display: none;
    }

    .button__nav {
        width: 40%;
        display: flex;
    }

    .btn__nav-one {
        width: 170px;
        height: 35px;
    }

    .btn__nav-two {
        width: 150px;
        height: 35px;
    }

    .title {
        padding-top: 0px;
    }

    .main-container {
        max-width: 440px;
        margin: 0 auto;
    }

    .title__title {
        font-size: 30px;
    }

    .border {
        padding: 5%;
    }

    .border-content {
        padding-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        width: 95%;
    }

    .border {
        height: 35%;
        padding-top: 0px;
        margin-top: 0px;
    }

    .time {
        display: flex;
        margin-top: 15px;
        width: 450px;
    }

    .time-box {
        max-width: 12vw;

    }

    .time-box__item {
        width: 70px;
        height: 40px;
        font-size: 30px;
        padding-top: 17%;
        margin-right: 25px;
    }

    .time-box__text {
        font-size: 14px;
        margin: 0px;
        margin-left: 13px;
    }

    .border-img {
        display: none;
    }


    .colums-container {
        max-width: 450px;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .colums {
        flex-wrap: wrap;
    }

    .captain,
    .coloner,
    .general {
        width: 80%;
        margin-bottom: 50px;
        margin: 0 auto;
        margin-bottom: 15%;
    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        left: 127px;

    }

    .captain__title,
    .coloner__title,
    .general__title {
        font-size: 27px;
    }

    .general {
        height: 220vh;
    }


    .copyright__p {
        display: none;
    }

    .footer__bottom {
        justify-content: center;

    }


    .contacts__us {
        font-size: 14px;
    }

    .contacts__link {
        margin-right: 10px;

    }

}



@media screen and (max-width: 412px) {
    .nav {
        height: 10vh;
        
    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        left: 110px;

    }

    .general {
        height: 172vh;
    }

    .coloner {
        height: 139vh;

    }

    .captain {
        height: 57vh;
    }

    .captain__text,
    .coloner__text,
    .general__text {
        font-size: 22px;
    }

    .box-text {
        font-size: 18px;
        
    }
}




@media (min-width: 390px) and (max-width: 394px) {
    .nav {
        height: 8vh;
    }

    .captain__logo,
    .coloner__logo,
    .general__logo {

        left: 103px;
    }

    .general {
        height: 155vh;
    }

}

@media screen and (max-width: 360px) {
    .nav {
        height: 10vh;
    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        left: 93px;

    }

    .general {
        height: 175vh;
    }
}



@media screen and (max-width: 320px) {

    .nav {
        height: 8vh;
    }

    .button__nav {
        width: 40%;
        display: flex;
    }

    .title {
        padding-top: 0px;
        width: 200px;
        height: 80px;
        margin: 0 auto;
    }

    .main-container {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 17%;
    }

    .title__logo {
        display: none;
    }

    .title__title {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .closes {
        flex-wrap: wrap;
    }

    .title-box {
        text-align: center;
    }

    .title-box__text {
        font-size: 18px;
    }

    .border {
        padding: 5%;
    }

    .border-content {
        padding-left: 5%;
        padding-top: 0%;
        padding-bottom: 0%;
        width: 100%;
    }

    .border {
        height: 35%;
        padding-top: 0px;
        margin-top: 0px;
    }

    .logo-big {
        display: none;
    }

    .title-box__item {
        margin: 0px;
        font-size: 20px;
    }

    .time {
        display: flex;
        margin-top: 15px;
        width: 300px;
    }

    .time-box {
        max-width: 7vw;

    }

    .time-box__item {
        width: 50px;
        height: 30px;
        font-size: 25px;
        padding-top: 0%;
        margin-right: 25px;
    }

    .time-box__text {
        font-size: 12px;
        margin: 0px;
        margin-left: 9px;
    }

    .border-img {
        display: none;
    }


    .colums-container {
        max-width: 450px;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .colums {
        flex-wrap: wrap;
    }

    .coloner {
        margin-bottom: 50px;
    }

    .general,
    .coloner,
    .captain {
        margin: 0 auto;
        width: 85%;
        margin-bottom: 18%;
    }

    .captain__title,
    .coloner__title,
    .general__title {
        font-size: 22px;
    }

    .general {
        height: 119vh;
    }

    .captain__logo,
    .coloner__logo,
    .general__logo {
        position: absolute;
        top: -40px;
        left: 78px;

    }

    .contacts__us {
        font-size: 14px;
        padding-right: 3%;
    }

    .footer-bottom__contacts-social {
        align-items: center;
    }



}