.nav-container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 119px;
    background-image: url(/assets/img/Page_3/bg.png);

}

.logo__img {
    width: 80px;
    height: 77px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 295px;

}

.navigation__link {
    text-decoration: none;
    color: white;
}

.social {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__nav-one {
    margin-right: 20px;
    width: 159px;
    height: 45px;
    color: white;
    background-image: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.btn__nav-one:hover {
    color: black;
    background-color: white;
}

.btn__nav-two {
    width: 130px;
    height: 44px;
    color: white;
    background-color: #935243;
    border: 1px solid #935243;
    border-radius: 5px;
}

.btn__nav-two:hover {
    color: #935243;
    background-image: none;
    background-color: transparent;
}

main {
    background-image: url(/assets/img/Page_3/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    max-width: 1170px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 46px;
}



.border {
    height: 473px;
    border: solid 3px #FF592C;
    border-radius: 25px;
    padding-top: 103px;
    padding-left: 67px;
    margin-top: 80px;
    box-shadow: 0px 4px 40px rgba(255, 61, 22, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.59);
    background: rgba(0, 0, 0, 0.48);
    display: flex;
    position: relative;
}

.border-content {
    z-index: 2;
}

.closes {
    display: flex;
    align-items: center;
}

.logo-big {
    width: 111px;
    height: 107px;
    padding-right: 27px;
}

.title-box__item {
    margin: 0px;
    font-size: 38px;
    line-height: 54px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, #D2D8DE 0%, #FEFFFF 23.96%, #C0C3C6 50.52%, #B6BBBF 79.69%, #ACB2B7 98.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.title-box__text {
    padding-top: 4px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    background: linear-gradient(180deg, #D2D8DE 0%, #FEFFFF 23.96%, #C0C3C6 50.52%, #B6BBBF 79.69%, #ACB2B7 98.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.time {
    display: flex;
    margin-top: 60px;
}

.time-box {
    max-width: 140px;
}

.time-box:not(:last-child) {
    margin-right: 38px;
}

.time-box__item {
    width: 139px;
    height: 76px;
    background-color: #FF592C;
    color: white;
    font-size: 57px;
    line-height: 75px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-right: 38px;
    border-radius: 4px;
    border: 1.56479px solid #DBDBDB;
}

.time-box__text {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: white;
}

.border-img {
    position: absolute;
    left: 615px;
    bottom: 115px;
}

.border-img img {
    width: 590px;
    height: 588px;
}

.colums-container {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 115px;

}

.colums {
    display: flex;
    justify-content: space-between;
}

.captain {
    width: 370px;
    height: 507px;
    border: 3px solid #C4C4C4;
    border-radius: 25px;
    background: rgba(196, 196, 196, 0.04);
    box-shadow: 0px 4px 40px rgba(255, 255, 63, 0.13), 0px 4px 4px rgba(0, 0, 0, 0.59);
    text-align: center;

}

.captain__logo {}

.captain__title {
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 46px;
    background: linear-gradient(180deg, #D2D8DE 0%, #FEFFFF 23.96%, #C0C3C6 50.52%, #B6BBBF 79.69%, #ACB2B7 98.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}

.captain__text {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: white;
}

.captain__price {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%), linear-gradient(180deg, #D2D8DE 0%, #FEFFFF 23.96%, #C0C3C6 50.52%, #B6BBBF 79.69%, #ACB2B7 98.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.captain__one {
    width: 269px;
    height: 60px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 10px;

}

.captain__two {
    width: 270px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%);
    color: #774200;
    border: 2px solid #FFF61B;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.coloner {
    width: 370px;
    height: 1098px;
    border: 3px solid #6625D6;
    border-radius: 25px;
    background: rgba(196, 196, 196, 0.04);
    box-shadow: 0px 4px 40px rgba(255, 255, 63, 0.13), 0px 4px 4px rgba(0, 0, 0, 0.59);
    text-align: center;
}

.general {
    width: 370px;
    height: 1282px;
    border: 3px solid #FFFF3F;
    border-radius: 25px;
    background: rgba(196, 196, 196, 0.04);
    box-shadow: 0px 4px 40px rgba(255, 255, 63, 0.13), 0px 4px 4px rgba(0, 0, 0, 0.59);
    text-align: center;
}