body {
    font-family: 'Jost';
    color: white;
}

.header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.604)), url(/assets/img/Page_1/Block_1/linear1.png), url(/assets/img/Page_1/Block_1/bg1.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

.nav-container {
    max-width: 1170px;
    height: 100%;
    margin: 0 15% 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 119px;
    background-image: url(/assets/img/Page_3/bg.png);
    opacity: .8;
}

.logo__img {
    width: 80px;
    height: 77px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 295px;
}

.navigation__link {
    text-decoration: none;
    color: white;
}

.navigation__link:hover {
    text-decoration: underline;
}

.social {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.btn__nav-one {
    margin-right: 20px;
    width: 159px;
    height: 45px;
    color: white;
    background-image: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.btn__nav-one:hover {
    color: black;
    background-color: white;
}

.btn__nav-two {
    width: 130px;
    height: 44px;
    color: white;
    background-color: #935243;
    border: 1px solid #935243;
    border-radius: 5px;
}

.btn__nav-two:hover {
    color: #935243;
    background-image: none;
    background-color: transparent;
}

.header__title {
    margin: 10% 15% 0 15%;
}

.title__list {
    padding: 2% 0 2% 0;
}

.button__title,
.left-block__btns {
    display: flex;
    align-items: center;
}

.button__title-one,
.left-block__btn1 {
    margin-right: 40px;
    width: 264.45px;
    height: 65px;
    font-weight: bold;
    color: #774200;
    background: url(/assets/img/Page_1/Block_1/btn_title-1-bg.png), linear-gradient(#BE460D, #E6D156);
    border: 1px solid #E6D156;
    border-radius: 7px;
}

.button__title-one:hover {
    background: url(/assets/img/Page_1/Block_1/btn_title-1-bg.png), #BE460D;
    border: none;
}

.left-block__btn1:hover {
    background: url(/assets/img/Page_1/Block_1/btn_title-1-bg.png), #BE460D;
    border: none;
}

.button__title-two,
.left-block__btn2 {
    width: 264.45px;
    height: 65px;
    color: white;
    background-image: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
}

.button__title-two:hover {
    color: black;
    background-color: white;
}

.left-block__btn2:hover {
    color: black;
    background-color: white;
}

.main__trailer-about {
    padding-top: 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.035);
    background: url(/assets/img/Page_1/Block_2/bg-trailer.png), rgba(0, 0, 0, 0.905);
    background-size: contain;
    background-repeat: no-repeat;
}

.trailer {
    text-align: center;
}

.about {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.about__what {
    margin-top: 2%;
    height: 100vh;
    background: url(/assets/img/Page_1/Block_3/left-block.png);
    background-repeat: no-repeat;
}

.about__what img {
    margin: 5% 5% 2% 20%;
}

.about__what-p {
    font-size: 18px;
    margin: 0 50% 15% 20%;
}

.main__nft-box {
    text-align: center;
    background: url(/assets/img/Page_1/Block_4/bg4.png), rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__nft-equipments {
    padding-top: 5%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.138);
    background: url(/assets/img/Page_1/Block_5/bullets.png), black;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__metaverse {
    padding: 5% 0 5% 0;
    text-align: center;
    background: url(/assets/img/Page_1/Block_6/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.metaverse__p {
    margin-bottom: 5%;
}

.main__concept-token {
    padding-top: 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.138);
    background: url(/assets/img/Page_1/Block_7/bg7.png), black;
    background-repeat: no-repeat;
    background-size: contain;
}

.concept__title {
    margin: 5% 0 3% 0;
    text-align: center;
}

.concept__flex {
    display: flex;
    justify-content: center;
}

.flex__left-block {
    margin-right: 5%;
}

.left-block__btns {
    padding-top: 10%;
}

.main__token {
    background: url(/assets/img/Page_1/Block_8/bg8.png), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.604));
    background-repeat: no-repeat;
    background-size: cover;
}

.token__left {
    padding: 10% 0 10% 20%;
}

.token-left__title,
.token-left__token-cost {
    margin-bottom: 3%;
}

.main__roadmap {
    padding-bottom: 5%;
    background: url(/assets/img/Page_1/Block_9/bg9.png), black;
    background-repeat: no-repeat;
    background-size: contain;
}

.roadmap__title {
    padding-bottom: 3%;
    text-align: center;
}

.main__team {
    text-align: center;
    background: url(/assets/img/Page_1/Block_10/bg10.png), black;
    background-repeat: no-repeat;
    background-size: cover;
}

.team__p {
    padding-top: 2%;
}

.team__table {
    padding: 5% 0 3% 0;
}

.team__btn {
    padding-bottom: 5%;
}

.team-btn__one {
    width: 398px;
    height: 65px;
    font-weight: bold;
    color: #774200;
    background: url(/assets/img/Page_1/Block_10/btn10.png), linear-gradient(#BE460D, #E6D156);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #E6D156;
    border-radius: 7px;
}

.team-btn__one:hover {
    background: url(/assets/img/Page_1/Block_10/btn10.png), #BE460D;
    border: none;
}

.footer {
    text-align: center;
    background: url(/assets/img/Page_1/Block_11/bg11.png), black;
    background-repeat: no-repeat;
    background-size: cover;
}

.partners__blocks {
    padding: 3% 0 3% 0;
}

.footer__bottom {
    padding: 2% 0 2% 0;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.323);
}

.footer-bottom__contacts-social {
    display: flex;
    justify-content: space-around;
}

.contacts__us {
    padding-right: 40px;
}

.contacts__link {
    margin-right: 25px;
}

.contacts__link_margin {
    margin-right: 0px;
}