* {
    scrollbar-width: thin;
    scrollbar-color: #6625d6 #b0b7c4;
}

body {
    font-family: 'Jost';

}

/*убрала белый отступ сбоку*/
html,
body {
    height: 100%;
    width: 100%;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.604)), url(/assets/img/Page_1/Block_1/linear1.png), url(/assets/img/Page_1/Block_1/bg1.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

.nav-container {
    max-width: 1170px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 119px;
    background-image: url(/assets/img/Page_3/bg.png);
    opacity: .8;
}

.logo__img {
    width: 80px;
    height: 77px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 295px;
}

.navigation__link {
    text-decoration: none;
    color: white;
}

.navigation__link:hover {
    text-decoration: underline;
}

.social {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.btn__nav-one {
    margin-right: 20px;
    width: 159px;
    height: 45px;
    color: white;
    background-image: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.btn__nav-one:hover {
    color: black;
    background-color: white;
}

.btn__nav-two {
    width: 130px;
    height: 44px;
    color: white;
    background-color: #935243;
    border: 1px solid #935243;
    border-radius: 5px;
}

.btn__nav-two:hover {
    color: #935243;
    background-image: none;
    background-color: transparent;
}

.title-container {
    margin: 0px auto;
    max-width: 1170px;
}

.title-container__title {
    padding-top: 232px;
}

.title-container__text {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.68);

}

.title-container__text ul {
    list-style-type: none;
}

.title__list {
    padding: 2% 0 2% 0;
}

.button__title,
.left-block__btns {
    display: flex;
    align-items: center;

}

.button__title {
    padding-bottom: 284px;
}

.button__title-one,
.left-block__btn1 {
    margin-right: 40px;
    width: 264.45px;
    height: 65px;
    font-weight: bold;
    color: #774200;
    background: url(/assets/img/Page_1/Block_1/btn_title-1-bg.png), linear-gradient(#BE460D, #E6D156);
    border: 1px solid #E6D156;
    border-radius: 7px;
}

.button__title-one:hover {
    background: url(/assets/img/Page_1/Block_1/btn_title-1-bg.png), #BE460D;
    border: none;
}

.left-block__btn1:hover {
    background: url(/assets/img/Page_1/Block_1/btn_title-1-bg.png), #BE460D;
    border: none;
}

.button__title-two,
.left-block__btn2 {
    width: 264.45px;
    height: 65px;
    color: white;
    background-image: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
}

.button__title-two:hover {
    color: black;
    background-color: white;
}

.left-block__btn2:hover {
    color: black;
    background-color: white;
}

.main__trailer-about {
    padding-top: 5%;
    background: url(/assets/img/Page_1/Block_2/bg-trailer.png), rgba(0, 0, 0, 0.905);
    background-size: cover;
    background-repeat: no-repeat;
}

.trailer {
    text-align: center;
}


.tailer__characters {
    display: flex;
    justify-content: space-between;
    width: 922px;
    margin: 0px auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
}

.trailer-text {
    margin-top: 0px;
    margin-bottom: 40px;
    background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%), rgba(255, 255, 255, 0.68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.trailer__videoblock {
    padding-bottom: 119px;
}

.videoblock,
.metaverse__vr-video {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    border: 10px solid #615e5e;
    border-radius: 21px;
    transition: all 0.3s ease-in-out;
}

.videoblock iframe {
    width: 100% !important;
    height: 560px !important;
}

.about {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.about__what {
    background: url(/assets/img/Page_1/Block_3/left-block.png);
    background-repeat: no-repeat;
}

.about-container {
    margin: 0px auto;
    max-width: 1170px;
}

.about__what img {
    padding-top: 135px;
}

.about__what-p {
    font-size: 18px;
    width: 600px;
    padding-bottom: 255px;
    color: white;
    margin: 0px;
}

.main__nft-box {
    text-align: center;
    background: url(/assets/img/Page_1/Block_4/bg4.png), rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.nft-container {
    max-width: 1170px;
    margin: 0px auto;
    box-sizing: border-box;
}

.nft__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 43px;
    background: linear-gradient(180deg, #D2D8DE 0%, #FEFFFF 23.96%, #C0C3C6 50.52%, #B6BBBF 79.69%, #ACB2B7 98.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.nft__title h2 {
    margin: 0;
}

.boxes-choose {
    width: 370px;
    height: 448px;
}

.nft-box__p {
    font-weight: 400;
    font-size: 18px;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding-top: 27px;
    margin-bottom: 51px;
}

.boxes-choose:hover {
    transform: scale(1.1);
}

.nft-box__boxes-choose {
    padding-bottom: 251px;

}

.main__nft-equipments {
    text-align: center;
    background: url(/assets/img/Page_1/Block_5/bullets.png), black;
    background-size: contain;
    background-repeat: no-repeat;
}

.nft-equipments__weapons-choose {
    display: flex;
    justify-content: center;
    transition: 1s;
    padding-bottom: 5%;
}

.weapons-choose {
    padding: 7px;
    margin: 1%;
    border: 3px solid #515050;
    border-radius: 10px;
}

.weapons-choose:hover {
    transform: scale(1.5);
    border: 3px solid #6625D6;
}

.main__metaverse {
    padding: 5% 0 5% 0;
    text-align: center;
    background: url(/assets/img/Page_1/Block_6/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.metaverse__p {
    margin-bottom: 5%;
    color: white;
    font-size: 18px;
}

.vr-video iframe {
    width: 100% !important;
    height: 560px !important;
}

.main__concept-token {
    padding-top: 5%;
    background: url(/assets/img/Page_1/Block_7/bg7.png), black;
    background-repeat: no-repeat;
    background-size: contain;
}

.concept__title {
    margin: 5% 0 3% 0;
    text-align: center;
    font-weight: 700;
    font-size: 43px;
    background: linear-gradient(180deg, #D2D8DE 0%, #FEFFFF 23.96%, #C0C3C6 50.52%, #B6BBBF 79.69%, #ACB2B7 98.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.concept__flex {
    display: flex;
    justify-content: center;
}

.flex__left-block {
    margin-right: 5%;
}

.left-block__p {
    color: white;
    font-weight: 400;
    font-size: 18px;

}

.right-block__right-title {
    min-width: 534px;
    min-height: 65px;
    text-align: center;
    background: linear-gradient(180deg, #5B2B30 -90.77%, #6B3935 12.11%, #A25B48 97.02%);
    border-radius: 5.49533px 5.49533px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 1.83178px 0px rgba(152, 97, 86, 0.35);
}

.right-block__right-title img {
    width: 29px;
    height: 30px;
    padding-right: 13px;
}

.right-block__right-title h3 {
    display: inline;
}

.right-text {
    background: rgba(0, 0, 0, 0.29);
    border: 3px solid #515050;
    box-sizing: border-box;
    border-radius: 0px 0px 25px 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.68);
    margin-bottom: 40px;
}

.left-block__btns {
    padding-top: 10%;
}

.left-block__btn2 {
    color: #C4C4C4;
    ;
}

.main__token {
    background: url(/assets/img/Page_1/Block_8/Group\ 40.png), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.604));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 8%;
    padding-bottom: 8%;
}

.token-title {
    font-weight: 700;
    font-size: 43px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #D2D8DE 0%, #FEFFFF 23.96%, #C0C3C6 50.52%, #B6BBBF 79.69%, #ACB2B7 98.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.left-content {
    width: 30%;
}

.token-concept {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 106px;
    background: rgba(196, 196, 196, 0.1);
    border: 2px solid #515050;
    box-sizing: border-box;
    border-radius: 20px;

}

.content__title {
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0px;
}

.content__text {
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 0px;
}


.stars-text__text {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.stars-text__item {
    display: flex;
    justify-content: start;
    align-items: center;
}

.stars-text__item img {
    width: 23px;
    height: 21px;
}

.right-img {
    width: 550px;
    height: 550px;
}

.right-img__img {
    max-width: 100%;
}

/*Уменьшается при изменении окна браузера*/
.waepon {
    max-width: 100%;
}

.main__roadmap {
    padding-bottom: 5%;
    background: url(/assets/img/Page_1/Block_9/bg9.png), black;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Уменьшается при изменении окна браузера*/
.img {
    max-width: 100%;
}

.maintitle {
    font-weight: bold;
    font-size: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.colorgradient {
    background: -webkit-linear-gradient(#d2d8de, #feffff, #c0c3c6, #b6bbbf, #acb2b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chronology__inside {
    position: relative;
    padding-top: 375px;
    padding-bottom: 430px;
}

.chronology__line {
    position: relative;
}

.chronology__line::before {
    content: "";
    display: block;
    height: 3px;
    width: calc(50% - 210px);
    position: absolute;
    left: 0;
    top: 5px;
    background: #e4c940;
    z-index: 2;
}

.chronology__lineinside {
    background: linear-gradient(294.72deg, #ff4581 9.05%, #4388dd 79.28%);
    opacity: 0.1;
    width: 100%;
    height: 14px;
    margin-bottom: -30px;
}

.chronology__line::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 5px;
    background: rgba(228, 201, 64, 0.09);
}

.containers__chronology {
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.chronology__row {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.chronology__item {
    flex-basis: 25%;
    position: relative;
}

.chronology__dot {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    height: 46px;
    width: 46px;
    background: linear-gradient(180deg, rgba(210, 216, 222, 0.31) 0%, rgba(254, 255, 255, 0.31) 23.96%, rgba(192, 195, 198, 0.31) 50.52%, rgba(182, 187, 191, 0.31) 79.69%, rgba(172, 178, 183, 0.31) 98.44%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chronology__dot::before {
    content: "";
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, #d2d8de 0%, #feffff 23.96%, #c0c3c6 50.52%, #b6bbbf 79.69%, #acb2b7 98.44%);
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.chronology__dot::after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    background: #5e5d5d;
    height: 103px;
    top: 34px;
}

.chronology__dotgold {
    background: rgba(255, 190, 67, 0.21);
}

.chronology__dotgold::before {
    background: linear-gradient(180deg, #ffa12a 0%, #feef6d 100%), #e4c940;
    box-shadow: 0px 4.45205px 31.1644px rgba(255, 179, 0, 0.59);
}

ol,
ul {
    list-style: none;
}

.chronology__list li {
    font-size: 16px;
    margin-bottom: 17px;
    line-height: 1.43;
    color: rgba(255, 255, 255, 0.8);
}

.chronology__title {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.chronology__list {
    position: absolute;
}

.chronology__item1 .chronology__title {
    top: -46px;
    left: 37%;
}

.chronology__item1 .chronology__dot {
    margin-left: 57%;
}

.chronology__item1 .chronology__list {
    top: 168px;
    left: 19%;
    min-width: 250px;
}

.chronology__item2 .chronology__dot {
    margin-left: 52%;
}

.chronology__item2 .chronology__dot::after {
    top: -90px;
}

.chronology__item2 .chronology__title {
    top: 67px;
    left: 43%;
}

.chronology__item2 .chronology__list {
    bottom: 153px;
    left: 22%;
    min-width: 260px;
}

.chronology__item3 .chronology__dot {
    margin-left: 44%;
}

.chronology__item3 .chronology__title {
    top: -46px;
    left: 34%;
}

.chronology__item3 .chronology__list {
    top: 168px;
    left: -10%;
    min-width: 315px;
}

.chronology__item4 .chronology__dot {
    margin-left: 29%;
}

.chronology__item4 .chronology__dot::after {
    top: -90px;
}

.chronology__item4 .chronology__title {
    top: 67px;
    left: 20%;
}

.chronology__item4 .chronology__list {
    bottom: 150px;
    left: -11%;
    min-width: 250px;
}

.chronology__item5 .chronology__dot {
    margin-left: 46%;
}

.chronology__item5 .chronology__title {
    top: -46px;
    left: 11%;
}

.chronology__item5 .chronology__list {
    top: 168px;
    left: 14%;
    min-width: 250px;
}

.roadmap__title {
    padding-bottom: 3%;
    text-align: center;
}

.main__team {
    text-align: center;
    background: url(/assets/img/Page_1/Block_10/bg10.png), black;
    background-repeat: no-repeat;
    background-size: cover;
}

.team__p {
    padding-top: 2%;
    color: white;
}

.team__table {
    margin: 3% 15% 3% 15%;
    display: grid;
    grid-template-columns: repeat(6, 195px);
    grid-template-rows: repeat(2, 195px);
    justify-content: center;
    align-items: center;
}

.table {
    align-self: center;
    justify-self: center;
}

.team__btn {
    padding-bottom: 5%;
}

.team-btn__one {
    width: 398px;
    height: 65px;
    font-weight: bold;
    color: #774200;
    background: url(/assets/img/Page_1/Block_10/btn10.png), linear-gradient(#BE460D, #E6D156);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #E6D156;
    border-radius: 7px;
}

.team-btn__one:hover {
    background: url(/assets/img/Page_1/Block_10/btn10.png), #BE460D;
    border: none;
}

.main__partners {
    padding-top: 3%;
    text-align: center;
    background: url(/assets/img/Page_1/Block_11/bg11.png), black;
    background-repeat: no-repeat;
    background-size: cover;
}

.partners__blocks {
    padding: 3% 0 3% 0;
}

.blocks-up1 {
    margin: 1%;
}

.blocks-up1:hover {
    transform: scale(1.1);
}

.blocks-down1 {
    margin: 1%;
}

.blocks-down1:hover {
    transform: scale(1.1);
}

.footer {
    text-align: center;
    background: url(/assets/img/Page_1/Block_11/bg11.png), black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.footer__bottom {
    padding: 2% 0 2% 0;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.323);
}

.footer-bottom__contacts-social {
    display: flex;
    justify-content: space-around;
}

.contacts__us {
    padding-right: 40px;
}

.contacts__link {
    margin-right: 25px;
}

.contacts__link_margin {
    margin-right: 0px;
}