.nav-container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 119px;
    background-image: url(/assets/img/Page_3/bg.png);
    
}

.logo__img {
    width: 80px;
    height: 77px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 295px;
    
}
.navigation__link {
    text-decoration: none;
    color: white;
}
.social {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
}
.title__logo {
}
.title__title {
}


